name: Sync to Hugging Face Hub

on:
  push:
    branches: [main]  

  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Sync to HuggingFace
        uses: nateraw/huggingface-sync-action@v0.0.5
        with:
          github_repo_id: 'OneMore1/Omni-fMRI'
          huggingface_repo_id: 'OneMore1/Omni-fMRI'
          hf_token: ${{ secrets.HF_TOKEN }}
